<section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
        <h2 class="heading">Contact</h2>
        </div>
</section>
<section class="contact-section px-3 py-5 p-md-5">
    <div class="container">
        <form id="contact-form" class="contact-form col-lg-8 mx-lg-auto" method="post" [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="sr-only" for="cemail">Email</label>
                    <input type="email" class="form-control" id="cemail" name="email" placeholder="Email" required="" formControlName="Email"
                        aria-required="true">
                </div>
                <div class="form-group col-12">
                    <select id="services" class="custom-select" name="services" formControlName="Opts">
                        <option selected>Options ...</option>
                        <option value="Stages">Stages</option>
                        <option value="SPE">SPE</option>
                    </select>
                </div>
                <div class="form-group col-12">
                    <label class="sr-only" for="cmessage">Your message</label>
                    <textarea class="form-control" id="cmessage" name="message" placeholder="Entrez votre message..." formControlName="Message"
                        rows="10" required="" aria-required="true"></textarea>
                </div>
                <div class="form-group col-12">
                    <button type="submit" class="btn btn-block btn-primary py-2">Envoyer</button>
                </div>
            </div>
            <!--//form-row-->
        </form>
    </div>
    <!--//container-->
</section>
