<section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
        <h2 class="heading text-center">Tableau de Synthèse</h2>
    </div>
    <!--//container-->
</section>
<!--//promo-section-->
<section class="project px-3 py-5 p-md-5">
    <div class="container">
        <div class="project-meta p-4 theme-bg-light">
            <h2 class="section-title font-weight-bold mb-5">Documentations</h2>
            <table>
                <tr>
                    <td>
                        <h5 class="card-title">
                            <a class="theme-link">Gérer le patrimoine informatique</a>
                        </h5>
                    </td>
                    <td>
                        <a class="btn btn-primary mr-2" href="assets/documents/e4/gerer_le_patrimoine_informatique.pdf"
                            download>
                            <i class="fas fa-arrow-alt-circle-right mr-2"></i>Télécharger</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 class="card-title">
                            <a class="theme-link">Répondre aux incidents et aux demande d'assistance et
                                d'évolution</a>
                        </h5>
                    </td>
                    <td>
                        <a class="btn btn-primary mr-2" href="assets/documents/e4/repondre_aux_incidents.pdf"
                            download><i class="fas fa-arrow-alt-circle-right mr-2"></i>Télécharger</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 class="card-title">
                            <a class="theme-link">Développer la présence en ligne de l'organisation</a>
                        </h5>
                    </td>
                    <td>
                        <a class="btn btn-primary mr-2" href="assets/documents/e4/presence_en_ligne.pdf" download><i
                                class="fas fa-arrow-alt-circle-right mr-2"></i>Télécharger</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 class="card-title">
                            <a class="theme-link">Mettre à disposition des utilisateurs un service
                                informatique</a>
                        </h5>
                    </td>
                    <td>
                        <a class="btn btn-primary mr-2" href="assets/documents/e4/service_informatique.pdf" download><i
                                class="fas fa-arrow-alt-circle-right mr-2"></i>Télécharger</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 class="card-title">
                            <a class="theme-link">Travailer en mode projet</a>
                        </h5>
                    </td>
                    <td>
                        <a class="btn btn-primary mr-2" href="assets/documents/e4/mode_projet.pdf" download><i
                                class="fas fa-arrow-alt-circle-right mr-2"></i>Télécharger</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 class="card-title">
                            <a class="theme-link">Organiser son développement professionel</a>
                        </h5>
                    </td>
                    <td>
                        <a type="submit" class="btn btn-primary"
                            href="assets/documents/e4/developpement_professionel.pdf" download><i
                                class="fas fa-arrow-alt-circle-right mr-2"></i>Télécharger</a>
                    </td>
                </tr>
            </table>
            <!--//project-section-->
            <h2 class="section-title font-weight-bold mb-5 mt-5">Tableau de Synthèse</h2>
            <div class="project-section mb-5">
                <div class="row mt-5">

                    <div class="col-12 col-lg-12 mb-5 text-center">
                        <embed src="assets/documents/e4/tableau_synthese_sio_2023.pdf" width="1000" height="1380">
                    </div>
                </div>
            </div>
            <!--//project-section-->
        </div>
    </div>
</section>
