<section class="about-me-section p-3">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row">
            <div class="media-body">
                <h2 class="name font-weight-bold mb-1">Damien Monchaty</h2>
                <div class="tagline mb-3">BTS SIO Option SLAM - candidat libre</div>
                <h3 class="section-title font-weight-bold mb-3">Présentation</h3>
                <div class="bio mb-4">
                    Je m'appelle <b>Damien Monchaty</b> et après 10 ans passés dans la restauration, j'aspire désormais
                    à travailler dans le
                    secteur de l'informatique.
                    <br>
                    L'examen du <b>BTS SIO</b> s'inscrit pour moi dans une démarche de reconversion professionnelle.
                    <br>
                    Grâce à ce portfolio, vous découvrirez les compétences que j’ai acquises durant mes périodes de
                    stage en entreprise ainsi qu’au cours de ma formation.
                </div>
                <h2 class="section-title font-weight-bold mb-3">Mes compétences</h2>
                <div class="section-intro mb-5"> Au travers de cette formation que j'ai repris en tant que candidat
                    libre, j'ai
                    pu apprendre et mettre en oeuvre nombre de savoirs-faires qui m'ont été utiles lors de deux stages
                    de 5
                    semaines et lors de plusieurs projets personnels.
                </div>
                <div class="row">
                    <div class="item col-6 col-lg-2">
                        <div class="item-inner text-center">
                            <div class="item-icon"><i class="fab fa-500px"></i></div>
                            <h3 class="item-title">C#</h3>
                            <div class="item-desc"></div>
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                    <div class="item col-6 col-lg-2">
                        <div class="item-inner text-center">
                            <div class="item-icon"><i class="fab fa-angular mr-2"></i></div>
                            <h3 class="item-title">Angular</h3>
                            <div class="item-desc"></div>
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                    <div class="item col-6 col-lg-2">
                        <div class="item-inner text-center">
                            <div class="item-icon"><i class="fab fa-git-square"></i></div>
                            <h3 class="item-title">Git</h3>
                            <div class="item-desc"></div>
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                    <div class="item col-6 col-lg-2">
                        <div class="item-inner text-center">
                            <div class="item-icon"><i class="fab fa-html5 mr-2"></i></div>
                            <h3 class="item-title">HTML5</h3>
                            <div class="item-desc"></div>
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                    <div class="item col-6 col-lg-2">
                        <div class="item-inner text-center">
                            <div class="item-icon"><i class="fab fa-css3-alt"></i></div>
                            <h3 class="item-title">CSS3</h3>
                            <div class="item-desc"></div>
                        </div>
                        <!--//item-inner-->
                    </div>
                    <div class="item col-6 col-lg-2">
                        <div class="item-inner text-center">
                            <div class="item-icon"><i class="fab fa-js-square"></i></div>
                            <h3 class="item-title">JavaScript</h3>
                            <div class="item-desc"></div>
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                </div>
                <br>
                <!--//row-->
                <h2 class="section-title font-weight-bold mb-3">Présentation du BTS SIO</h2>
                <div class="bio mb-4">
                    Le <b>BTS SIO</b> est un diplôme national de niveau <b>bac+2</b>. <br>
                    Il existe <b>deux options</b> deux options pour le certificat de technicien avancé en services
                    informatiques organisationnels :
                    <br>
                    <b>L'option A , Solutions d'Infrastructure , Systèmes et Réseaux (SISR) </b> permet aux étudiants
                    d'acquérir les compétences suivantes :
                    <br>
                    <ul>
                        <li>Fournir des services informatiques et un soutien à la transformation numérique</li>
                        <li>Cybersécurité de l'infrastructure, des systèmes et des services informatiques</li>
                        <li>Gestion du système et du réseau</li>
                    </ul>
                    Quant à <b>L'option B , Solutions logicielles et applications métiers (SLAM)</b>, elle apporte les
                    connaissances et compétences suivantes : <br>
                    <ul>
                        <li>Assistance et fourniture de services informatiques</li>
                        <li>Cybersécurité des solutions applicatives</li>
                        <li>Conception et réalisation d'applications, logiciels, ERP…</li>
                    </ul>
                </div>
                <!--//bio-->
            </div>
            <!--//media-body-->
        </div>
    </div>
</section>
<!--//about-me-section-->

<div class="container">
    <hr>
</div>

<section class="featured-section p-3">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">Documentations</h2>
        <table>
            <tr>
                <td>
                    <h5 class="card-title">
                        <a class="theme-link">Gérer le patrimoine informatique</a>
                    </h5>
                </td>
                <td>
                    <a class="btn btn-primary mr-2" href="assets/documents/e4/gerer_le_patrimoine_informatique.pdf"
                        download>
                        <i class="fas fa-arrow-alt-circle-right mr-2"></i>Télécharger</a>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="card-title">
                        <a class="theme-link">Répondre aux incidents et aux demande d'assistance et
                            d'évolution</a>
                    </h5>
                </td>
                <td>
                    <a class="btn btn-primary mr-2" href="assets/documents/e4/repondre_aux_incidents.pdf" download><i
                            class="fas fa-arrow-alt-circle-right mr-2"></i>Télécharger</a>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="card-title">
                        <a class="theme-link">Développer la présence en ligne de l'organisation</a>
                    </h5>
                </td>
                <td>
                    <a class="btn btn-primary mr-2" href="assets/documents/e4/presence_en_ligne.pdf" download><i
                            class="fas fa-arrow-alt-circle-right mr-2"></i>Télécharger</a>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="card-title">
                        <a class="theme-link">Mettre à disposition des utilisateurs un service
                            informatique</a>
                    </h5>
                </td>
                <td>
                    <a class="btn btn-primary mr-2" href="assets/documents/e4/service_informatique.pdf" download><i
                            class="fas fa-arrow-alt-circle-right mr-2"></i>Télécharger</a>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="card-title">
                        <a class="theme-link">Travailer en mode projet</a>
                    </h5>
                </td>
                <td>
                    <a class="btn btn-primary mr-2" href="assets/documents/e4/mode_projet.pdf" download><i
                            class="fas fa-arrow-alt-circle-right mr-2"></i>Télécharger</a>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="card-title">
                        <a class="theme-link">Organiser son développement professionel</a>
                    </h5>
                </td>
                <td>
                    <a type="submit" class="btn btn-primary" href="assets/documents/e4/developpement_professionel.pdf"
                        download><i class="fas fa-arrow-alt-circle-right mr-2"></i>Télécharger</a>
                </td>
            </tr>
        </table>
        <!--//testimonial-carousel-->
        <h2 class="section-title font-weight-bold mb-5 mt-5">Stages - E4</h2>
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="card project-card">
                    <div class="row no-gutters">
                        <div class="col-lg-4 card-img-holder">
                            <img src="assets/images/uuniti/uuniti2.jpg" class="card-img" alt="image">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title"><a routerLink="/stage1" class="theme-link">Stage 1 - Uuniti</a>
                                </h5>
                                <p>Messagerie d'équipe</p>
                            </div>
                        </div>
                    </div>
                    <div class="link-mask">
                        <a class="link-mask-link" routerLink="/stage1"></a>
                        <div class="link-mask-text">
                            <a class="btn btn-secondary" routerLink="/stage1">
                                <i class="fas fa-eye mr-2"></i>Voir Stage 1 - Uuniti
                            </a>
                        </div>
                    </div>
                    <!--//link-mask-->
                </div>
                <!--//card-->
            </div>
            <!--//col-->
            <div class="col-md-6 mb-5">
                <div class="card project-card">
                    <div class="row no-gutters">
                        <div class="col-lg-4 card-img-holder">
                            <img src="assets/images/amricode/lockself.png" class="card-img" alt="image">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title"><a routerLink="/stage2" class="theme-link">Stage 2 - AMRI
                                        Code</a>
                                </h5>
                                <p>Solution de partage sécurisé de fichiers</p>
                            </div>
                        </div>
                    </div>
                    <div class="link-mask">
                        <a class="link-mask-link" routerLink="/stage2"></a>
                        <div class="link-mask-text">
                            <a class="btn btn-secondary" routerLink="/stage2">
                                <i class="fas fa-eye mr-2"></i>Voir Stage 2 - AMRI Code
                            </a>
                        </div>
                    </div>
                    <!--//link-mask-->
                </div>
                <!--//card-->
            </div>
            <!--//col-->
        </div>
        <h2 class="section-title font-weight-bold mb-5">Projets - E5</h2>
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="card project-card">
                    <div class="row no-gutters">
                        <div class="col-lg-4 card-img-holder">
                            <img src="assets/images/hrman/hrmanlogo.png" class="card-img" alt="image">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title"><a routerLink="/spe1" class="theme-link">Projet 1 -
                                        HRManagement</a>
                                </h5>
                                <p>Gestion de projets</p>
                            </div>
                        </div>
                    </div>
                    <div class="link-mask">
                        <a class="link-mask-link" routerLink="/spe1"></a>
                        <div class="link-mask-text">
                            <a class="btn btn-secondary" routerLink="/spe1">
                                <i class="fas fa-eye mr-2"></i>Voir Projet 1 - HRManagement
                            </a>
                        </div>
                    </div>
                    <!--//link-mask-->
                </div>
                <!--//card-->
            </div>
            <!--//col-->
            <div class="col-md-6 mb-5">
                <div class="card project-card">
                    <div class="row no-gutters">
                        <div class="col-lg-4 card-img-holder">
                            <img src="assets/images/formulanews/formulanewslogo.png" class="card-img" alt="image">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title"><a routerLink="/spe2" class="theme-link">Projet 2 -
                                        FormulaNews</a>
                                </h5>
                                <p>Application mobile d'actualités sportives</p>
                            </div>
                        </div>
                    </div>
                    <div class="link-mask">
                        <a class="link-mask-link" routerLink="/spe2"></a>
                        <div class="link-mask-text">
                            <a class="btn btn-secondary" routerLink="/spe2">
                                <i class="fas fa-eye mr-2"></i>Voir Projet 2 - FormulaNews
                            </a>
                        </div>
                    </div>
                    <!--//link-mask-->
                </div>
                <!--//card-->
            </div>
            <!--//col-->
        </div>
        <!--//row-->
    </div>
    <!--//container-->
</section>
<!--//featured-section-->
