<section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
        <h2 class="heading text-center">HRManagement - PPE 1</h2>
        <div class="project-intro text-center">
            <p class="">Git : <a target="_blank" href="https://github.com/DamienMonchaty/HRManagement">https://github.com/DamienMonchaty/HRManagement</a></p>
            <p class="">Trello : <a target="_blank" href="https://trello.com/b/vR9X1UiX/hrmanagement-web-app">https://trello.com/b/vR9X1UiX/hrmanagement-web-app</a></p>
            <p class="">Url : <a target="_blank" href="https://hrmanagementweb.azurewebsites.net/">https://hrmanagementweb.azurewebsites.net/</a></p>
            <a class="btn btn-primary mr-2" href="https://github.com/DamienMonchaty/HRManagement/zipball/master/" download="HRManagement.zip">Télécharger le projet</a>
            <p>Le sytème de recherche n'est pas encore fonctionnel en production, vous pouvez le tester en téléchargeant le projet, veuillez m'excuser !</p>
          </div>
    </div>
    <!--//container-->
</section>
<!--//promo-section-->
<section class="project px-3 py-5 p-md-5">
    <div class="container">
        <div class="project-meta p-4 theme-bg-light">
          <div class="row">
                <div class="col-12 col-lg-2 mb-5">
                </div>
                <div class="col-12 col-lg-8 mb-5">
                    <img class="img-fluid rounded" src="assets/images/hrman/dashboardhrman.PNG" alt="image">
                </div>
                <div class="col-12 col-lg-2 mb-5">
                </div>
            </div>

            <div class="media-body">
                <div class="client-info">
                    <h3 class="client-name font-weight-bold mb-4">HRManagement - Contexte </h3>
                    <div class="client-bio mb-4">HRManagement est une société de service qui propose du consulting en informatique.<br/>
                    La société HRManagement voulant avoir un outil de gestion de projets personnalisée décide de demander au service
                    développement web de s’occuper de cette tâche permettant de créer des projets en y ajoutant des missions et
                    des employées.</div>
                    <div class="row">
                    <div class="col-4">
                      <h4 class="subheading mb-3">Technologies utilisées :</h4>
                      <ul>
                          <li>ASP NET CORE .net6</li>
                          <li>MySQL</li>
                          <li>EntityFramework Core</li>
                          <li>Git</li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <h4 class="subheading mb-3">Contraintes diverses :</h4>
                      <ul>
                          <li>Conformité SGBD</li>
                          <li>Design Pattern MVC</li>
                          <li>Hachage du mot de passe en db</li>
                      </ul>
                  </div>
                  <div class="col-4">
                    <h4 class="subheading mb-3">Ressources utilisées :</h4>
                    <ul>
                        <li>Microsoft Visual Studio Community 2022</li>
                        <li>MySQL Community</li>
                        <li>GitHub</li>
                        <li>Trello</li>
                    </ul>
                  </div>
                  <div class="col-6">
                   <h4 class="subheading mb-3">Quelques fonctionnalités :</h4>
                    <ul class="mb-0">
                        <li>Création d’un portail Manager - Employé</li>
                        <li>Création de projet (Ajout/modification/suppression de projet)</li>
                        <li>Enregistrement d’employé par système d’e-mail</li>
                        <li>Système de recherche sur des employés & des projets</li>
                        <li>Suivi des projets par des statuts mis à jour quotidiennement</li>
                    </ul>
                    </div>

                </div>

                </div>
                <br>
                <h3 class="project-section-title mb-3">Utilisateurs</h3>
                <p>Une partie sécurisée accessible à <b>2 types d’utilisateurs authentifiés</b> avec des droits différents :</p>
                <div class="row">
                  <div class="col-6">
                    <p><b>Admin :</b></p>
                    <ul>
                      <li>Créer des employés</li>
                      <li>Créer supprimer, modifier des missions</li>
                      <li>Créer supprimer, modifier des projets</li>
                      <li>Créer supprimer, modifier des clients</li>
                      <li>Faire une recherche sur des employé  s et des projets</li>
                    </ul>
                  </div>
                  <div class="col-6">
                    <p><b>Employé :</b></p>
                    <ul>
                      <li>Valider son incription par email</li>
                      <li>Consulter ses missions & leur projet</li>
                      <li>Accepter & valider des missions</li>
                    </ul>
                  </div>
              </div>
            </div>
            <!--//project-section-->

            <div class="project-section mb-5">
                <h3 class="project-section-title">Détail des tâches effectuées et compétences :</h3>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Tâches effectuées & productions associées</th>
                      <th>Compétences du référentiel</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                          ➯ Etude du cahier des charges <br>
                          ➯ Mise en place de la methodologie SCRUM<br>
                          ➯ Création d'un product backlog avec Trello
                      </td>
                      <td>
                          <b>Travailler en mode projet</b><br>
                          ➯ Analyser les objectifs et les modalités d'organisation d'un projet<br>
                          ➯ Planifier les activités<br>
                          ➯ Évaluer les indicateurs de suivi d’un projet et analyser les écarts
                      </td>
                    </tr>
                    <tr>
                      <td>
                          ➯ Conception de la base de données<br>
                          ➯ Conception du projet HRManagement : partie Admin, Partie Employe
                      </td>
                      <td>
                          <b>Développer la présence en ligne de l'organisation</b><br>
                          ➯ Participer à l'evolution d'un site Web exploitant les données de l'organisation<br>
                          ➯ Participer à la valorisation de l’image de l’organisation sur les médias numériques
                           en tenant compte du cadre juridique et des enjeux
                      </td>
                    </tr>
                    <tr>
                      <td>
                          ➯ Test unitaires <br>
                          ➯ Déploiement Cloud Azure
                      </td>
                      <td>
                          <b>Mettre à disposition des utilisateurs un service informatique</b><br>
                          ➯ Réaliser les tests d’intégration et d’acceptation d’un service<br>
                          ➯ Déployer un service
                      </td>
                    </tr>
                    <tr>
                      <td>
                          ➯ Sécuriser le site <br>
                          ➯ Conception du projet HRManagement : partie Admin, Partie Employe
                      </td>
                      <td>
                          <b>Gérer le patrimoine informatique</b><br>
                          ➯ Recenser et identifier les ressources numériques<br>
                          ➯ Vérifier les conditions de la continuité d’un service informatique
                      </td>
                    </tr>
                    <tr>
                      <td>
                          ➯ Apprentissage en ligne Microsoft Cloud<br>
                          ➯ Intégration continue
                      </td>
                      <td>
                          <b>Organiser son développement professionnel</b><br>
                          ➯ Mettre en place son environnement d’apprentissage personnel
                      </td>
                    </tr>
                  </tbody>
                </table>

            </div>
            <!--//project-section-->

            <div class="project-section mb-5">
                <h3 class="project-section-title">Annexe :</h3>
                <div class="row mt-5">
                    <div class="col-12 col-lg-12 mb-5 text-center">
                      <embed src= "assets/documents/e5/spe1hrman.pdf" width= "1000" height= "1380">
                    </div>
                </div>

            </div>
            <!--//project-section-->
        </div>
    </div>
</section>



