<section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
        <h2 class="heading text-center">Uuniti - Stage 1</h2>
    </div>
    <!--//container-->
</section>
<!--//promo-section-->
<section class="project px-3 py-5 p-md-5">
    <div class="container">
        <div class="project-meta p-4 theme-bg-light">
          <div class="row">
                <div class="col-12 col-lg-5 mb-5">
                </div>
                <div class="col-12 col-lg-2 mb-5">
                    <img class="img-fluid rounded w-200" src="assets/images/uuniti/uuniti.png" alt="image">
                </div>
                <div class="col-12 col-lg-5 mb-5">
                </div>
            </div>
            <div class="media-body">
                <div class="client-info">
                    <h3 class="client-name font-weight-bold mb-4">Présentation</h3>
                    <div class="client-bio mb-4"><b>Uuniti</b> est une messagerie d'equipe, c'est-à-dire, un système de canaux de communication via
                    lesquels il est possible de transmettre à un ou plusieurs interlocuteurs des messages, fichiers et images en temps réel<br/>
                    Uuniti apporte une sécurisation maîtrisée et dynamique des données/informations et de leurs usages, y compris dans des organisations.
                    <br/>
                    <b>Url : </b><a href="https://uuniti.com/">https://uuniti.com/</a> <br/>
                    ...
                    </div>
                    <div class="row">
                    <div class="col-4">
                      <h4 class="subheading mb-3">Technologies utilisées :</h4>
                      <ul>
                          <li>ASP .NET C#</li>
                          <li>SQL Server</li>
                          <li>XAML</li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <h4 class="subheading mb-3">Contraintes diverses :</h4>
                      <ul>
                          <li>Design Pattern MVVM</li>
                      </ul>
                  </div>
                  <div class="col-4">
                    <h4 class="subheading mb-3">Ressources utilisées :</h4>
                    <ul>
                        <li>Microsoft Visual Studio Community 2022</li>
                        <li>Microsoft SQL Server 2017 Express</li>
                        <li>InnoSetup</li>
                    </ul>
                  </div>
                  <div class="col-6">
                   <h4 class="subheading mb-3">Tàches effectués :</h4>
                   <ul class="mb-0">
                      <li>Création et gestion de distribution client</li>
                      <li>Gestion des supports clients (Uuniti) (Applicatif Windows)</li>
                      <li>Implémentation, et utilisation de technologies Web</li> Implémentation, et utilisation de technologies Web
                      <li>Modification de l'interface graphique (WPF XAML)</li>
                      <li>Création et manipulation de modèle de données (datablinding, datatemplate)</li>
                      <li>Réalisation d'une documentation pour apprendre à utiliser Inno Setup</li>
                      <li>Cryptographie (clés symétriques, asymétriques)</li>
                    </ul>
                  </div>
                </div>
                </div>
            </div>
            <!--//project-section-->
            <br>
            <div class="project-section mb-5">
                <h3 class="project-section-title">Détail des tâches effectuées et compétences :</h3>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Tâches effectuées</th>
                      <th>Compétences du référentiel</th>
                      <th>Nom des productions associés</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>
                          ➯ Etude du cahier des charges <br>
                          ➯ Documentation <br>
                      </td>
                      <td>
                          <b>Travailler en mode projet</b><br>
                          ➯ Analyser les objectifs et les modalités d'organisation d'un projet<br>
                          ➯ Planifier les activités<br>
                      </td>
                      <td>
                          ➯ Cahier des charges<br>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          ➯ Conception du complément Outlook
                          ➯ Vues en Xaml
                      </td>
                      <td>
                          <b>Développer la présence en ligne de l'organisation</b><br>
                          ➯ Participer à l'evolution d'un site Web exploitant les données de l'organisation<br>
                          ➯ Participer à la valorisation de l’image de l’organisation sur les médias numériques
                           en tenant compte du cadre juridique et des enjeux
                      </td>
                      <td>
                          ➯ LockTransfer
                      </td>
                    </tr>
                    <tr>
                      <td>
                          ➯ Gestion des supports clients (Uuniti) (Applicatif Windows)<br>
                          ➯ Conception formulaire HTML5, CSS3<br>
                      </td>
                      <td>
                          <b>Répondre aux incidents et aux demandes d'assistance et d'evolution</b><br>
                          ➯ Traiter des demandes concernant des applications
                      </td>
                      <td>
                          ➯ FormulaNews Web
                      </td>
                    </tr>
                    <tr>
                      <td>
                          ➯ Création et gestion de distribution client<br>
                      </td>
                      <td>
                          <b>Mettre à disposition des utilisateurs un service informatique</b><br>
                          ➯ ...
                      </td>
                      <td>
                          ➯ ...<br>
                      </td>
                  </tbody>
                </table>

            </div>
            <!--//project-section-->
            <div class="project-section mb-5">
                <h3 class="project-section-title">Annexe :</h3>
                <div class="row mt-5">
                    <div class="col-12 col-lg-12 mb-5 text-center">
                      <embed src= "assets/documents/uuniti/attestation_stage_uuniti.pdf" width= "1000" height= "1380">
                    </div>
                </div>

            </div>
            <!--//project-section-->
        </div>
    </div>
</section>



