<article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        <header class="blog-post-header">
            <h2 class="title mb-2">Cloud Computing - AWS, Google Cloud & Microsoft Azure</h2>
        </header>
        <div class="blog-post-body">
            <h3 class="mt-5 mb-3">Veille informatique</h3>
            <p>Pour mettre en oeuvre ma veille informatique, j'ai choisi d'utiliser <b>NetVibes</b><br>
            Il s’agit d’un outil permettant de suivre en temp réel l’actualité de différent site internet
            et de regrouper cet ensemble de contenus dans un meme espace.<br>
            Ce service m’a permis de me constituer un tableau au thématique de mon choix,
            c’est-à-dire, le Cloud Computing et leurs principaux acteurs : <b>AWS, Google Cloud & Microsoft Azure.</b>
            </p>
            <figure class="blog-banner">
                <a href="https://www.netvibes.com/dashboard/100461640?#Cloud">
                  <img class="img-fluid" src="assets/documents/netvibes.PNG" alt="image"></a>
            </figure>
            <h5 class="my-3">En complément, je regarde également les actualités sur les sites suivants :</h5>
            <ul class="mb-5">
              <li class="mb-2"><a href="https://www.silicon.fr/actualites/cloud">https://www.silicon.fr/actualites/cloud</a></li>
              <li class="mb-2"><a href="https://www.lemagit.fr/ressources/Services-Cloud">https://www.lemagit.fr/ressources/Services-Cloud</a></li>
              <li class="mb-2"><a href="https://www.usine-digitale.fr/cloud/">https://www.usine-digitale.fr/cloud/</a></li>
              <li class="mb-2"><a href="https://siecledigital.fr/tag/aws/">https://siecledigital.fr/tag/aws/</a></li>
            </ul>
            <h5 class="my-3">De plus, je regarde également les chaines Youtube suivantes :</h5>
            <ul class="mb-5">
              <li class="mb-2">
                <b>Google Cloud Tech</b> présente les dernières mises à jour de Google Cloud Platform, puis propose des tutoriels pour tous les niveaux.<br>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/5wN1mRIR75Q" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                </div>
                <br>
              </li>
              <li class="mb-2">
                <b>Alphorm</b> propose des tutoriels pour tous les niveaux dans différents domaines technologiques comme la virtualisation, le cloud computing.
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/kzKFuHk8ovk" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                </div>
              </li>

            </ul>
            <h3 class="mt-5 mb-3">Qu'est-ce que le Cloud ?</h3>
            <p>En termes simples, le cloud, c'est Internet. Plus précisément, il s'agit de tous les éléments auxquels nous pouvons accéder à distance via Internet. Lorsqu'un élément se trouve dans le cloud , cela signifie qu'il est stocké sur des serveurs Internet au lieu du disque dur de votre ordinateur. </p>
            <h3 class="mt-5 mb-3">Pourquoi utiliser le cloud ?</h3>
            <p>Certaines des principales raisons d'utiliser le cloud sont la commodité et la fiabilité.</p>
            <h5 class="my-3">Avantages:</h5>
            <ul class="mb-5">
                <li class="mb-2"><b>Stockage de fichiers :</b> nous pouvons stocker tous les types d'informations dans le cloud, y compris les fichiers et les e-mails.
                Cela signifie que nous pouvons accéder à ces éléments à partir de n'importe quel ordinateur ou appareil mobile doté d'une connexion Internet.</li>
                <li class="mb-2"><b>Partage de fichiers :</b> Le cloud permet de partager facilement des fichiers avec plusieurs personnes en même temps. </li>
                <li class="mb-2"><b>Sauvegarde des données :</b> Vous pouvez également utiliser le cloud pour protéger vos fichiers. </li>
            </ul>
            <h3 class="mt-5 mb-3">AWS vs Azure vs Google Cloud</h3>
            <p><b>AWS, Azure et Google Cloud</b> sont des plates-formes de cloud computing populaires avec leurs offres uniques en matière de services d'infrastructure, et de mise en réseau</p>
            <p><b>AWS</b>, ou Amazon Web Services, est une plate-forme de cloud computing qui a été lancée en 2002 et relancée en 2006.
            Elle propose différents services tels que l'infrastructure en tant que service - <b>IaaS</b>, la plate-forme en tant que service - <b>PaaS</b> et le logiciel en tant que service - <b>SaaS</b>. </p>
            <p><b>Azure</b>, la plate-forme de cloud computing de Microsoft, a été initialement lancée en 2010 et prend en charge les systèmes d'exploitation Linux et Microsoft Windows.
            Il fournit des services <b>IaaS</b>, <b>PaaS</b> et <b>SaaS</b> et permet de créer, déployer, tester et gérer des applications.
            <p><b>Google Cloud</b> est une plate-forme de cloud computing publiée par Google en 2008. Elle propose des plates-formes <b>IaaS</b>,
            <b>PaaS</b> et sans serveur. Google Cloud est classé en différentes plates-formes, telles que <b>Google App Engine</b>, <b>Google Compute Engine</b>, <b>Google Cloud Datastore</b>, <b>Google Cloud Storage</b>, <b>Google BigQuery</b> et <b>Google Cloud SQL</b>. </p>
            <h5 class="my-3">Tableau de comparaison:</h5>
            <table class="table table-striped table-bordered my-5">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">AWS</th>
                        <th scope="col">Microsoft Azure</th>
                        <th scope="col">Google Cloud</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Mise en cache</th>
                        <td>Elastic Cache</td>
                        <td>Redis Cache</td>
                        <td>Cloud CDN</td>
                    </tr>
                    <tr>
                        <th scope="row">Processeur</th>
                        <td>128 max</td>
                        <td>128 max</td>
                        <td>96 max</td>
                    </tr>
                    <tr>
                        <th scope="row">Gestion des API</th>
                        <td>Passerelle d'API Amazon</td>
                        <td>Passerelle d'API Azure</td>
                        <td>Points de terminaison cloud</td>
                    </tr>
                    <tr>
                        <th scope="row">Plate-forme en tant que service</th>
                        <td>Elastic Beanstalk</td>
                        <td>Cloud Services</td>
                        <td>Google App Engine</td>
                    </tr>
                    <tr>
                        <th scope="row">Stockage d'objet</th>
                        <td>S3</td>
                        <td>Block Blob</td>
                        <td>Cloud Storage</td>
                    </tr>
                    <tr>
                        <th scope="row">Stockage d'objet</th>
                        <td>Redshift</td>
                        <td>SQL Warehouse</td>
                        <td>Big Query</td>
                    </tr>
                    <tr>
                        <th scope="row">Site Web</th>
                        <td><a href="aws.amazon.com">aws.amazon.com</a></td>
                        <td><a href="">azure.microsoft.com</a></td>
                        <td><a href="">cloud.google.com</a></td>
                    </tr>
                </tbody>
            </table>
            <h3 class="mt-5 mb-3">Tarification</h3>
            <p><b>AWS</b> offre un calculateur de coût dédié pour rendre le facteur de
            tarification beaucoup plus facile à comprendre, mais il est préférable fortement
            de revérifier le prix final avant de choisir en raison des différents types de taxes
            et de frais.</p>
            <p>La tarification d’<b>Azure</b> est beaucoup plus facile à comprendre. Son tableau de bord comporte une section de facturation. Il est également possible de consulter le calculateur de prix d’Azure pour déterminer combien coûte l’utilisation de ses services en nuage.
            <p><b>Google Cloud</b> se distingue par sa structure de prix attrayante et conviviale. Il essaie de battre les prix que la plupart des fournisseurs de services en nuage facturent pour obtenir des contrats.</p>
            <p>Heureusement, les trois fournisseurs proposent des niveaux de lancement gratuits que nous pouvons utiliser pour essayer leurs services avant d’acheter. </p>
            <h3 class="mt-5 mb-3">Conclusion</h3>
            <p><b>AWS, Azure et Google Cloud</b> sont tous utilisés dans le même but, fournissant des services similaires qui prennent en charge toutes les plates-formes, systèmes d'exploitation et structures. Bien qu'il existe des différences entre eux, certaines fonctionnalités ne diffèrent que par leur nom mais ont des fonctionnalités similaires.</p>
        </div>
    </div>
    <!--//container-->
</article>
