<section class="cta-section theme-bg-light py-5">
    <div class="container-fluid">
        <h2 class="heading text-center">FormulaNews, Web & Mobile - PPE 2</h2>
        <div class="project-intro text-center">
            <p class="">Git Formula News Mobile: <a target="_blank" href="https://github.com/DamienMonchaty/FormulaNews-Mobile">https://github.com/DamienMonchaty/FormulaNews-Mobile</a></p>
            <p class="">Git Formula News Web: <a target="_blank" href="https://github.com/DamienMonchaty/FormulaNews-Web">https://github.com/DamienMonchaty/FormulaNews-Web</a></p>
            <p class="">Trello : <a target="_blank" href="https://trello.com/b/Y39APC9A/formulanews-web-app-mobile">https://trello.com/b/Y39APC9A/formulanews-web-app-mobile</a></p>
            <p class="">Formula News Web - Url : <a target="_blank" href="https://trello.com/b/Y39APC9A/formulanews-web-app-mobile">https://trello.com/b/Y39APC9A/formulanews-web-app-mobile</a></p>
            <a class="btn btn-primary mr-2" href="https://github.com/DamienMonchaty/FormulaNews-Web/zipball/master/" download="FOneWebApp.zip">Télécharger le projet Web</a>
            <a class="btn btn-primary mr-2" href="https://github.com/DamienMonchaty/FormulaNews-Mobile/zipball/master/" download="FOneMobileApp.zip">Télécharger le projet Mobile</a>
        </div>
    </div>
    <!--//container-->
</section>
<!--//promo-section-->
<section class="project px-3 py-5 p-md-5">
    <div class="container">
        <div class="project-meta p-4 theme-bg-light">
          <div class="row text-center">
                <div class="col-12 col-lg-3 mb-5">
                </div>
                <div class="col-12 col-lg-3 mb-5">
                  <img class="img-fluid rounded" src="assets/images/formulanews/resformulanews.PNG" alt="image">
                </div>
                <div class="col-12 col-lg-3 mb-5">
                  <img class="img-fluid rounded" src="assets/images/formulanews/res1formulanews.PNG" alt="image">
                </div>
            </div>
            <div class="media-body">
                <div class="client-info">
                    <h3 class="client-name font-weight-bold mb-4">FormulaNews - Contexte</h3>
                    <div class="client-bio mb-4">
                    Le site d’actualité de sport automobile FormulaNews, desirant gagner en visibilité et en audience décide de demander au service développement web
                    de concevoir une application mobile diffusant les résultats de toutes les courses de Formule 1 depuis 1950.
                    Elle permettra également d’avoir des informations sur le championnat en cours en termes de pilotes, constructeurs & classement
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <h4 class="subheading mb-3">Technologies utilisées :</h4>
                      <ul>
                          <li>Xamarin Forms</li>
                          <li>SQLite</li>
                          <li>Angular</li>
                          <li>Git</li>
                      </ul>
                    </div>
                    <div class="col-4">
                    <h4 class="subheading mb-3">Contraintes diverses :</h4>
                    <ul>
                        <li>Respect des ressources numériques</li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <h4 class="subheading mb-3">Ressources utilisées :</h4>
                    <ul>
                        <li>Microsoft Visual Studio Community 2022</li>
                        <li>Visual Studio Code</li>
                        <li>GitHub</li>
                        <li>Trello</li>
                    </ul>
                  </div>
                  <div class="col-6">
                      <h4 class="subheading mb-3">Quelques fonctionnalités :</h4>
                      <ul class="mb-0">
                          <li>Information sur la prochaine course & dernière course</li>
                          <li>Mise en place d’un blog</li>
                          <li>Consultation des résultats de toutes les courses, pilotes, contructeurs, courses de Formule 1 depuis 1950 </li>
                          <li>Une utilisation facile & intuitive de l’application</li>
                      </ul>
                    </div>
                    <div class="col-6">
                  </div>
                </div>

                </div>
                <br>
                <h3 class="project-section-title mb-3">Utilisateurs</h3>
                <p>Une partie publique </p>
            </div>
            <!--//project-section-->

            <div class="project-section mb-5">
                <h3 class="project-section-title">Détail des tâches effectuées et compétences :</h3>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Tâches effectuées & productions associées</th>
                      <th>Compétences du référentiel</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                          ➯ Etude du cahier des charges <br>
                          ➯ Mise en place de la methodologie SCRUM<br>
                          ➯ Création d'un product backlog avec Trello
                      </td>
                      <td>
                          <b>Travailler en mode projet</b><br>
                          ➯ Analyser les objectifs et les modalités d'organisation d'un projet<br>
                          ➯ Planifier les activités<br>
                          ➯ Évaluer les indicateurs de suivi d’un projet et analyser les écarts
                      </td>
                    </tr>
                    <tr>
                      <td>
                          ➯ Conception Angular SPA App<br>
                          ➯ Conception formulaire HTML5, CSS3<br>
                      </td>
                      <td>
                          <b>Répondre aux incidents et aux demandes d'assistance et d'evolution</b><br>
                          ➯ Traiter des demandes concernant des applications
                      </td>
                    </tr>
                    <tr>
                      <td>
                          ➯ Test UI <br>
                          ➯ Creation APK Android
                      </td>
                      <td>
                          <b>Mettre à disposition des utilisateurs un service informatique</b><br>
                          ➯ Réaliser les tests d’intégration et d’acceptation d’un service<br>
                          ➯ Déployer un service
                      </td>
                    </tr>
                    <tr>
                      <td>
                          ➯ Conception du projet HRManagement : partie Admin, Partie Employe<br>
                          ➯ Ergatz API
                      </td>
                      <td>
                          <b>Gérer le patrimoine informatique</b><br>
                          ➯ Recenser et identifier les ressources numériques
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <!--//project-section-->
            <div class="project-section mb-5">
                <h3 class="project-section-title">Annexe :</h3>
                <div class="row mt-5">
                    <div class="col-12 col-lg-12 mb-5 text-center">
                      <embed src= "assets/documents/e5/spe2formulanews.pdf" width= "1000" height= "1380">
                    </div>
                </div>

            </div>
            <!--//project-section-->
        </div>
    </div>
</section>
