<section class="featured-section p-3">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">Divers projets</h2>
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="card project-card">
                    <div class="row no-gutters">
                        <div class="col-lg-9">
                            <div class="card-body">
                                <h5 class="card-title"><a routerLink="/spe1" class="theme-link">Glpi / Wamp Server</a>
                                </h5>
                                <h3 class="client-name font-weight-bold mb-4">Présentation</h3>
                                <div class="client-bio mb-4">
                                <b>GLPI - Gestionnaire Libre de Parc Informatique</b> est un logiciel libre de gestion des services informatiques et de gestion des services d’assistance.<br>
                                Cette solution libre est éditée en PHP et distribuée sous licence GPL.<br>
                                <b>GLPI</b> est une application web qui aide les entreprises à gérer leur système d’information.<br>
                                Il est compatible avec toutes les versions d’OS soit Linux/Windows ainsi que MAC OS avec l’aide d’une machine virtuelle.<br>
                                Pour utiliser cet outil, il faut :<br>
                                <ul>
                                  <li><b>WampServer</b> avec Apache pour la gestion de la base de donnée</li>
                                  <li>Une version de <b>GLPI</b></li>
                                </ul>
                              </div>
                                <h3 class="project-section-title">Détail des tâches effectuées et compétences :</h3>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Tâches effectuées & productions associées</th>
                                            <th>Compétences du référentiel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                ➯ Mise en Place Wamp Server / Glpi <br>
                                            </td>
                                            <td>
                                                <b>Gérer le patrimoine informatique</b><br>
                                                ➯ Recenser et identifier les ressources numériques<br>
                                                ➯ Mettre en place et vérifier les niveaux d’habilitation associés à un
                                                service<br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                ➯ Gestion des incidents par tickets <br>
                                            </td>
                                            <td>
                                                <b>Répondre aux incidents et aux demandes d’assistance et
                                                    d’évolution</b><br>
                                                ➯ Collecter, suivre et orienter des demandes <br>
                                                ➯ Traiter des demandes concernant les services réseau et système,
                                                applicatifs<br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-body">
                                <a class="btn btn-primary mr-2" target="_blank" href="/assets/documents/wampglpi/wampglpi.zip"
                                    download="wampglpi.zip">Télécharger le projet</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//card-->
            </div>
            <!--//col-->
            <div class="col-md-12 mb-5">
                <div class="card project-card">
                    <div class="row no-gutters">
                        <div class="col-lg-9">
                            <div class="card-body">
                                <h5 class="card-title"><a routerLink="/spe1" class="theme-link">MyResume - Site statique
                                        HTML5, CSS3</a>
                                </h5>
                                <h3 class="client-name font-weight-bold mb-4">Présentation</h3>
                                <div class="client-bio mb-4">
                                  Pour décrire mes expériences professionnelles, j'ai décidé de créer un site statique en <b>HTML5</b> et <b>CSS3</b>.<br>
                                  Ce site <b>HTML</b> respecte les standards du Web.<br>
                                </div>
                                <h3 class="project-section-title">Détail des tâches effectuées et compétences :</h3>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Tâches effectuées & productions associées</th>
                                            <th>Compétences du référentiel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                ➯ Conception HTML5, CSS3 <br>
                                            </td>
                                            <td>
                                                <b>Gérer le patrimoine informatique</b><br>
                                                ➯ Recenser et identifier les ressources numériques<br>
                                                ➯ Exploiter des référentiels, normes et standards adoptés par le
                                                prestataire informatique
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-body">
                                <a class="btn btn-primary mr-2" target="_blank" href="/assets/documents/staticcv/cvstaticsite.zip"
                                    download="myresume.zip">Télécharger le projet</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//card-->
            </div>
            <!--//col-->
            <div class="col-md-12 mb-5">
                <div class="card project-card">
                    <div class="row no-gutters">
                        <div class="col-lg-9">
                            <div class="card-body">
                                <h5 class="card-title"><a routerLink="/spe1" class="theme-link">MyCellar API</a>
                                </h5>
                                <h3 class="client-name font-weight-bold mb-4">Présentation</h3>
                                <div class="client-bio mb-4">
                                  <b>MyCellar</b> est une <b>REST API</b> de recettes de cuisine.<br>
                                  Elle permet selon une selection de produits de consulter une suggestion de recettes<br>
                                  L'application répertorie des informations concernant les produits alimentaires comme :<br>
                                  <ul>
                                    <li>Ingrédients</li>
                                    <li>Catégories</li>
                                    <li>Informations nutritionelles</li>
                                  </ul>
                                </div>
                                <h3 class="project-section-title">Détail des tâches effectuées et compétences :</h3>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Tâches effectuées & productions associées</th>
                                            <th>Compétences du référentiel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                ➯ Verification Service Cloud <br>
                                            </td>
                                            <td>
                                                <b>Gérer le patrimoine informatique</b><br>
                                                ➯ Vérifier les conditions de la continuité d’un service informatique
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                ➯ Implémentation, et utilisation de technologies Web<br>
                                                ➯ Création et manipulation de modèle de données (databinding,
                                                datatemplate)
                                                ➯ Création d'API REST<br>
                                                ➯ Mise en place d'un JWT - Json Web Token<br>
                                            </td>
                                            <td>
                                                <b>Développer la présence en ligne de l'organisation</b><br>
                                                ➯ Participer à l'evolution d'un site Web exploitant les données de
                                                l'organisation<br>
                                                ➯ Participer à la valorisation de l’image de l’organisation sur les
                                                médias numériques
                                                en tenant compte du cadre juridique et des enjeux
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                ➯ Mise en place d'un product-backlog <br>
                                                ➯ Documentation <br>
                                            </td>
                                            <td>
                                                <b>Travailler en mode projet</b><br>
                                                ➯ Analyser les objectifs et les modalités d'organisation d'un projet<br>
                                                ➯ Planifier les activités<br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                ➯ Tests d'intégrations avec Postman<br>
                                                ➯ TDéploiement cloud Azure
                                            </td>
                                            <td>
                                                <b>Mettre à disposition des utilisateurs un service informatique</b><br>
                                                ➯ Réaliser les tests d’intégration et d’acceptation d’un service<br>
                                                ➯ Déployer un service<br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                ➯ Approche Cloud<br>
                                                ➯ Intégration continue : Github Actions <br>
                                            </td>
                                            <td>
                                                <b>Organiser son développement professionnel</b><br>
                                                ➯ Mettre en place son environnement d’apprentissage personnel<br>
                                                ➯ Mettre en œuvre des outils et stratégies de veille<br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-body">
                                <a class="btn btn-primary mr-2" target="_blank" href="/assets/documents/mycellar/MyCellar.zip"
                                    download="MyCellar.zip">Télécharger le projet</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//card-->
            </div>
            <!--//col-->
        </div>
        <!--//row-->
    </div>
    <!--//container-->
</section>
<!--//featured-section-->
